html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/style.scss */
html {
  position: relative;
  min-height: 100vh;
  line-height: 1.8;
}

/* line 28, ../sass/style.scss */
body {
  font-family: "Play", sans-serif !important;
  background-color: rgba(102, 153, 204, 0.34) !important;
}

/* line 32, ../sass/style.scss */
::-webkit-scrollbar {
  width: 2px;
  background: #eee;
}

/* line 36, ../sass/style.scss */
::-webkit-scrollbar-thumb {
  border: 4px solid #69c;
  border-radius: 10px;
}

/* line 41, ../sass/style.scss */
header .content-header {
  padding-top: 10px;
  background-color: rgba(102, 153, 204, 0.5);
  margin-bottom: 20px;
  min-height: 5vh;
}
/* line 47, ../sass/style.scss */
header .content-header .wrapper-time-prof ul {
  display: block;
  list-style: none;
  margin-bottom: 15px;
}
/* line 52, ../sass/style.scss */
header .content-header .wrapper-time-prof .time-chat {
  display: block;
  padding: 10px;
  text-align: center;
}
/* line 57, ../sass/style.scss */
header .content-header .wrapper-time-prof .time-chat li span {
  color: #ffffff;
  margin-right: 10px;
}
/* line 63, ../sass/style.scss */
header .content-header .wrapper-time-prof .profile li {
  display: block;
  padding: 7px;
  background-color: rgba(255,255,255, 0.3);
  margin-bottom: 5px;
}
/* line 69, ../sass/style.scss */
header .content-header .wrapper-time-prof .profile li a span {
  font-weight: bold;
  font-size: 16px;
}
/* line 73, ../sass/style.scss */
header .content-header .wrapper-time-prof .profile li a .fa {
  font-weight: bold;
  font-size: 16px;
  padding-right: 10px;
}
/* line 79, ../sass/style.scss */
header .content-header .wrapper-time-prof .profile li a:hover {
  color: #fd642f;
}

/* line 85, ../sass/style.scss */
.wrapper-chat {
  position: relative;
}
/* line 89, ../sass/style.scss */
.wrapper-chat .chat-content .list-users {
  background-color: rgba(102, 153, 204, 0.5);
  padding: 0 10px 10px 10px;
  position: relative;
}
/* line 93, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .amount-users {
  color: #ffffff;
  text-shadow: 1px 1px 1px #fd642f;
  padding: 15px 0;
  font-weight: 600;
}
/* line 99, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users {
  background-color: #ffffff;
  height: 500px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: scroll;
  overflow-x: hidden;
}
/* line 106, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li {
  padding: 7px 0;
}
/* line 108, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li  {
  color: #337ab7;
  font-size: 16px;
  margin-left: 10px;
}
/* line 114, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li.Active:before {
  content: "\f007";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  color: #337ab7;
  padding-right: 10px;
}
/* line 123, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li.Suspended  {
  color: #988177;
}
/* line 126, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li.Suspended .fa {
  display: none;
}
/* line 130, ../sass/style.scss */
.wrapper-chat .chat-content .list-users .present-users ul li.Suspended:before {
  content: "\f00d";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  color: #988177;
  padding-right: 10px;
}
/* line 141, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget {
  margin-bottom: 10px;
}
/* line 144, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li {
  position: relative;
  display: inline-block;
  //width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  //height: 60px;
  margin: 0 0 -10px;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: #988177;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background: #eee;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}
/* line 155, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li a {
  padding: 10px;
  color: #337ab7;
  position: relative;
}
/* line 159, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li a .fa-comments-o {
  position: absolute;
  top: 10px;
  left: -17px;
}
/* line 166, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button::first-child {
  padding-right: 25px;
}
/* line 169, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.main-chat:before {
  content: "\f0c0";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  color: #337ab7;
}
/* line 177, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.person-chat:before {
  content: "\f007";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  color: #337ab7;
}
/* line 185, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li span.before:before {
  position: absolute;
  top: 10px;
  margin-right: 18px;
  content: "\f0e6";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  color: #337ab7;
}
/* line 196, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.active {
  background-color: #ffffff;
  border-bottom: 0;
  z-index: 999;
  overflow: none;
  width: auto;
  //padding-bottom: 16px;
}
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li  span{
	color: #337ab7;
}
/* line 200, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.active span, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.active span.before:before {
  color: #fd642f;
}
/* line 203, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.active.main-chat:before, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li.active.person-chat:before {
  color: #fd642f;
}
/* line 207, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:hover, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:active, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:focus {
  background-color: #ffffff;
}
/* line 209, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:hover a:hover, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:hover a:active, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:hover a:focus, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:active a:hover, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:active a:active, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:active a:focus, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:focus a:hover, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:focus a:active, .wrapper-chat .chat-content .wrapper-messages .tabs-widget ul.tabs-button li:focus a:focus {
  color: #fd642f;
}
/* line 214, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target.active {
  display: block;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #ddd;
}
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target {
 display: none;
}
/* line 222, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target  p {
  margin-bottom: 15px;
}
/* line 224, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target   span.chat-user-name {
  color: #337ab7;
  font-size: 16px;
  font-weight: bold;
}
/* line 229, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target  span.chat-user-message {
  color: #988177;
  font-size: 16px;
}
/* line 235, ../sass/style.scss
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target:not(:target),
.wrapper-chat .chat-content .wrapper-messages .tabs-widget :target ~ .target.default-target {
  display: none;
}
line 240, ../sass/style.scss
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target:target,
.wrapper-chat .chat-content .wrapper-messages .tabs-widget .target.default-target {
  display: block;
} */
/* line 246, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user {
  height: 150px;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
}
/* line 251, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user p {
  color: #988177;
  font-size: 16px;
}
/* line 255, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user textarea.comment-user {
  width: 100% !important;
  border: none;
  outline: none;
  resize: none;
  color: #988177;
  font-size: 16px;
}
/* line 265, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .bottom {
  margin-bottom: 15px;
}
/* line 268, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered {
  padding-top: 10px;
}
/* line 271, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span {
  color: rgba(51, 51, 51, 0.8);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span.title-entered {
  margin-left: 5px;
}
/* line 278, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span.fa-pencil-square:before {
  content: "\f044";
  font-family: FontAwesome;
  padding-right: 6px;
}
/* line 283, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span.fa-file-word-o:before {
  content: "\f1c2";
  font-family: FontAwesome;
  padding-right: 8px;
}
/* line 288, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span.fa-pencil-square-o:before {
  content: "\f044";
  font-family: FontAwesome;
  padding-right: 7px;
}
/* line 293, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .entered li span.fa-thumb-tack:before {
  content: "\f08d";
  font-family: FontAwesome;
  padding-right: 12px;
}
/* line 301, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li {
  display: inline-block;
  border: 1px solid rgba(51, 51, 51, 0.2);
  background-color: rgba(102, 153, 204, 0.5);
  padding: 5px;
  cursor: pointer;
}
/* line 307, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li a {
  color: #337ab7;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: inherit;
  font-family: FontAwesome;
  padding: 5px 10px;
}
/* line 315, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li a span.fa-bold:before {
  content: "\f032";
}
/* line 318, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li a span.fa-italic:before {
  content: "\f033";
}
/* line 321, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li a span.fa-underline:before {
  content: "\f0cd ";
}
/* line 326, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li:last-of-type {
  float: right;
}
/* line 330, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li:hover {
  background-color: #838b75;
}
/* line 332, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send .tag li:hover a {
  color: #333;
}
/* line 337, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send input {
  float: right;
  font-size: 16px;
  font-weight: normal;
  border: 1px solid rgba(51, 51, 51, 0.2);
  background-color: rgba(102, 153, 204, 0.5);
  padding: 5px 10px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}
/* line 348, ../sass/style.scss */
.wrapper-chat .chat-content .wrapper-messages .message-user-send input:hover {
  background-color: #fd642f;
  padding: 5px 10px;
  margin-top: 10px;
}

/* line 357, ../sass/style.scss */
footer {
  bottom: 0;
  min-height: 5vh;
  background-color: rgba(102, 153, 204, 0.5);
}
/* line 361, ../sass/style.scss */
footer .footer-content {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 5vh;
}

.enter-name{
	width: 70%; 
	margin-bottom: 10px;
	padding:5px 10px; 
	border:1px solid #fff;
}
.submit-name{
  width: 30%; 
  margin-bottom: 10px;
  padding:5px 10px; 
  border:1px solid #fff;
}
.close{    
  position: absolute;
    top: -2px;
    right: 10px;
    color: #9a9a9a;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100%;
    clear: both;
    z-index: 100;
}
.close:hover{  
  color: red;  
}